﻿@model PagedList.IPagedList<ECommerce.Models.City>
@using System.Data.SqlClient
@using PagedList.Mvc;
@{
    ViewBag.Title = "Cities";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Department.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CityId }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Details", "Details", new { id = item.CityId }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.CityId }, new { @class = "btn btn-danger" })

            </td>
        </tr>
    }

</table>
Page @(Model.PageCount<Model.PageNumber?0:Model.PageNumber), of: @Model.PageCount
@Html.PagedListPager(Model, page=>Url.Action("Index", new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter=ViewBag.CurrentFilter
}))